:root {
--font-family:Arial;
}
/* Css of index page */
.first-title{
   font-family:var(--font-family);
   margin-top: 5%;
}

.button{
   background-image: linear-gradient( to right, #c471ed, #f64f59);
   height: 31px;
   margin-top: 8px;
   max-width: 200px; 
}

.flex{
   display: flex;
}
.second-title{
   font-family: var(--font-family);
   margin-left: 50%;
}

.third-title{
   font-family:var(--font-family);
   margin-top: 4%;
   text-align: center;
   font-size: 20px;
}

.pic-0{
   margin-left: 60%;
   margin-top:5%;
}

.pic-1{
   margin-top: -60%;
   margin-left: 80%;
}

#border{
   border: 2px solid #532e2e;
   width: 400px;
    border-radius: 100px 100px;
    text-align: center; 
    margin-left: 40%;

}

.four-title{
   margin-top:-25%;
   font-size: 25px;
   font-family:var(--font-family);
}

.pic-2{
   margin-top: 20%;
}

.five-title{
   margin-top:-20%;
   margin-left:55%;
   font-family:var(--font-family);
}

.six-title{
   margin-top: -70%;
   font-family:var(--font-family);
   margin-left: 20%;
}

.seven-title{
   font-size: 20px;
   font-family:var(--font-family);
}

#pic-2{
   margin-left: 8%;
}

#pic-3{
   margin-left: 20%;
}
.pic-2-3{
   margin-top:10%;
}

.pic-5{
   margin-top: 5%;
}

.btn-header {
   margin: 0;
   max-width: 200px;
}

/* Form Order */

.flex-order{
   margin-left: 5%;
   margin-top: 3%;
   display: flex;
}

.order-form{
   margin-top: 3%;
}

.form {
   background-color: #15172b;
   border-radius: 20px;
   box-sizing: border-box;
   height: 762px;
   padding: 20px;
   width: 429px;
 }
 
 .title {
   color: #eee;
   font-family: sans-serif;
   font-size: 36px;
   font-weight: 600;
   margin-top: 30px;
 }
 
 .subtitle {
   color: #eee;
   font-family: sans-serif;
   font-size: 16px;
   font-weight: 600;
   margin-top: 10px;
 }
 
 .input-container {
   height: 50px;
   position: relative;
   width: 100%;
 }
 
 .ic1 {
   margin-top: 40px;
 }
 
 .ic2 {
   margin-top: 30px;
 }
 
 .input {
   background-color: #303245;
   border-radius: 12px;
   border: 0;
   box-sizing: border-box;
   color: #eee;
   font-size: 18px;
   height: 100%;
   outline: 0;
   padding: 4px 20px 0;
   width: 100%;
 }
 
 .cut {
   background-color: #15172b;
   border-radius: 10px;
   height: 20px;
   left: 20px;
   position: absolute;
   top: -20px;
   transform: translateY(0);
   transition: transform 200ms;
   width: 76px;
 }
 
 .cut-short {
   width: 50px;
 }

 .option{
   color: red;
   margin-top: 5%;
 }
 
 .input:focus ~ .cut,
 .input:not(:placeholder-shown) ~ .cut {
   transform: translateY(8px);
 }
 
 .placeholder {
   color: #65657b;
   font-family: sans-serif;
   left: 20px;
   line-height: 14px;
   pointer-events: none;
   position: absolute;
   transform-origin: 0 50%;
   transition: transform 200ms, color 200ms;
   top: 20px;
 }
 
 .input:focus ~ .placeholder,
 .input:not(:placeholder-shown) ~ .placeholder {
   transform: translateY(-30px) translateX(10px) scale(0.75);
 }
 
 .input:not(:placeholder-shown) ~ .placeholder {
   color: #808097;
 }
 
 .input:focus ~ .placeholder {
   color: #dc2f55;
 }
 
 .submit {
   background-color: #08d;
   border-radius: 12px;
   border: 0;
   box-sizing: border-box;
   color: #eee;
   cursor: pointer;
   font-size: 18px;
   height: 50px;
   margin-top: 38px;
   outline: 0;
   text-align: center;
   width: 100%;
 }
 
 .submit:active {
   background-color: #06b;
 }

 #mycarousel{
  width: 800px;
  margin-left: 50%;
  margin-bottom: 30%;
  margin-top: -40%;
 }
 
 .table-1{
   margin-top: -15%;
   margin-left: 20%;
   width: 1000px;
   height: 300px;
 }

 .table-2{
   margin-bottom: 10%;
   width: 300px;
   margin-left: 40%;
   margin-top: 3%;
 }
 .table-3{
   margin-bottom: 10%;
   width: 500px;
   margin-left: 70%;
   margin-top: -22%;
   height: 190px;
 }

 .table-2-3{
   
 }

 #hair-dye{
   background: #918a90; 
   text-align: center;
 }