/* ---------------------css of header--- */
#header-btt {
  margin: 0;
  font-family: "Roboto", sans-serif;
  position: sticky;
  top: 0;
}


.contai-ner {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 10vh;
  background-color: #50cab0;

  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow: 3px 5px 5px rgb(0, 0, 0, 0.4);

}

.title-header {
  padding: 1em;
  color: #f5f5f5;
  letter-spacing: 3px;

}

.ul-header {
  list-style: none;
  display: flex;
  padding: 1em;
  margin: 0;

}

.li-header {
  cursor: pointer;
  transition: all .5s ease-in-out;
  margin: 0.5em;
  padding: 10px 15px;
  color: #f5f5f5;
  border-radius: 20px;
}

.li-header:hover {
  background-color: rgb(202, 172, 172);
  box-shadow: 3px 5px 5px;
}

















/* --------------css of index.---------------------- */



.button {
  background-image: linear-gradient(to right, #c471ed, #f64f59);
  height: 31px;
  margin-top: 8px;
  max-width: 200px;
}

.title-2-petspa {
  display: flex;
  justify-content: flex-end;
}

.title-3-petspa {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.petspa .row {
  display: flex;
  margin-top: 5%;
}

.petspa .row .row-top-petspa {
  display: flex;
  flex-direction: row;
}

#border {
  border: 2px solid #532e2e;
  width: 400px;
  border-radius: 50px 50px;
  text-align: center;
  margin-left: 30%;

}

.petspa .row .row-bottom-petspa {
  display: flex;
  flex-direction: row;
}

.row .row-top-left-petspa {
  width: 50%;

}

.row .row-top-right {
  width: 50%;
}


.row .row-bottom-left-petspa {
  width: 50%;
}

.row-bottom-right-petspa {
  width: 50%;
}


/* Form Order */


.order-form {
  margin-top: 15%;
  margin-left: 15%;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 762px;
  padding: 20px;
  width: 429px;
  margin-left: -17%;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.option {
  color: red;
  margin-top: 5%;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
  color: #808097;
}

.input:focus~.placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

#mycarousel {
  width: 450px;
  margin-left: 50%;
  margin-bottom: 30%;
  margin-top: -80%;
}

.table-1 {
  margin-top: -15%;
  margin-left: 15%;
  width: 1000px;
  height: 300px;
}

.table-2 {
  margin-bottom: 10%;
  width: 300px;
  margin-left: 20%;
  margin-top: 3%;
}

.table-3 {
  margin-bottom: 30%;
  width: 500px;
  margin-left: 50%;
  margin-top: -23%;
  height: 190px;
}



#hair-dye {
  background: #918a90;
  text-align: center;
}

/* css of petguide------------------------------ */

.petguide .row {
  display: flex;
  margin-top: 10%;
}

.petguide .row .row-top {
  display: flex;
  flex-direction: row;
}

.petguide .row .row-bottom {
  display: flex;
  flex-direction: row;
}

.row .row-top-left {
  width: 50%;

}

.row .row-top-right {
  width: 50%;
}


.row .row-bottom-left {
  width: 50%;
}

.row-bottom-right {
  width: 50%;
}

.petguide-color {
  background: #d49696;
  display: inline-block;

}

.top-right-title {
  text-align: center;
}

/* -----------css of wash--------------------- */


.list-wash-dog-catton {
  display: flex;
  margin-left: 125px;
}

.list-width {
  width: 100px;
  height: 100px;
}

.wash .row {
  display: flex;
  margin: top 10%;
}

.wash .row .row-top-wash {
  display: flex;
  flex-direction: row;
}

.wash .row .row-bottom-wash {
  display: flex;
  flex-direction: row;
}

.padding-p {
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

.row .row-top-left-wash {
  width: 33%;
}

.row .row-top-center-wash {
  width: 33%;
}

.row .row-top-right-wash {
  width: 33%;
}

.row .row-bottom-left-wash {
  width: 33%;
}

.row .row-bottom-center-wash {
  width: 33%;
}

.row-bottom-right-wash {
  width: 33%;
}

/* ---------------css of nail------------------ */

.nail {
  margin-top: 5%;
}

.img-center {
  background: #f9f9f9;
  text-align: center;

}


.text-center {
  font-style: italic;
}



.list-step {
  list-style: none;
}

.list-step-detail {
  padding: 10px;
}

.step-cut-nail {
  width: 800px;
}

.padding-step-nail {
  padding: 8px;
}

/* -------------css of relax pet---------------------- */
.padding-p-relax {
  padding-left: 30px;
}

.text-note-relax {
  font-weight: 700;
}

/* -------------------css of footer-- */

footer {
  padding: 60px 0px 60px 0px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

footer .row-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .row-footer .footer-left {
  width: 30%;
}

footer .row-footer .footer-left .footer-img {
  width: 25%;
  margin-bottom: 20px;
  margin-left: 50px;
}

footer .row-footer .footer-left .footer-img img {
  width: 100%;
}

footer .row-footer .footer-left .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 20px;
}

footer .row-footer .footer-left .footer-text i {
  font-size: 24px;
  border: 1px solid #eb5e28;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background: #eb5e28;
}

footer .row-footer .footer-left .footer-text p {
  width: 90%;
  margin-bottom: 0px;
}

footer .row-footer .footer-right {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 30px;
}

footer .row-footer .footer-right .footer-item {
  width: 33.33%;
  line-height: 35px;
  font-size: 18px;
}

footer .row-footer .footer-right .footer-item h3 {
  margin-bottom: 20px;
  font-weight: 600;
}

footer .row-footer .footer-right .footer-item i {
  margin-right: 5px;
}

footer .row-footer .footer-right .footer-item a {
  text-decoration: none;
  color: white;
}

footer .row-footer .footer-right .footer-item a:hover {
  opacity: 0.75;
}

.footer-coppyright {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-coppyright .row-coppyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.footer-coppyright .row-coppyright .coppyright-left {
  padding-top: 20px;
  width: 50%;
  color: white;
}

.footer-coppyright .row-coppyright .coppyright-left a {
  text-decoration: none;
  color: #eb5e28;
}

.footer-coppyright .row-coppyright .coppyright-left a:hover {
  opacity: 0.75;
}

.footer-coppyright .row-coppyright .coppyright-right {
  width: 50%;
  text-align: center;
}

.footer-coppyright .row-coppyright .coppyright-right a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.footer-coppyright .row-coppyright .coppyright-right a i {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-coppyright .row-coppyright .coppyright-right a i:hover {
  background: #eb5e28;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid rgba(255, 255, 255, 0.1);
}