/* :root{
  --font-family: "Roboto", sans-serif;
}
 */


/* body {
  font-family: "Roboto", sans-serif;
}

html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
} */

body {
  font-family: "Roboto", sans-serif;
}

html {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  background: #52b69a;
  /* position: fixed; */
  z-index: 99;
  width: 100%;
}

.header .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .row .header-left {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .row .header-left .header-logo {
  width: 15%;
  cursor: pointer;
}

.header .row .header-left .header-logo img {
  width: 100%;
}

.header .row .header-left .header-nav {
  width: 80%;
  -webkit-transform: translateY(8px);
  transform: translateY(8px);
  text-align: center;
}

.header .row .header-left .header-nav .nav-content {
  padding: 0;
}

.header .row .header-left .header-nav .nav-content .nav-item {
  display: inline-block;
  position: relative;
}

.header .row .header-left .header-nav .nav-content .nav-item i {
  font-size: 16px;
}

.header .row .header-left .header-nav .nav-content .nav-item a {
  color: #f7fff7;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-right: 10px;
}

.header .row .header-left .header-nav .nav-content .nav-item a:hover {
  color: #333533;
}

.header .row .header-left .header-nav .nav-content .nav-item .submenu {
  min-width: 240px;
  height: auto;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: -2;
  opacity: 0;
  visibility: hidden;
  background-color: #fff;
  -webkit-box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 35px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 12px 0;
  border-radius: 4px;
  list-style: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.header .row .header-left .header-nav .nav-content .nav-item .submenu li>a {
  font-size: 16px;
  font-weight: 600;
  padding: 5px 20px;
  font-size: 14px;
  display: block;
  color: #1f1f25;
  margin: 0 10px;
  border-radius: 3px;
  text-decoration: none;
}

.header .row .header-left .header-nav .nav-content .nav-item .submenu li:hover a {
  color: #eb5e28;
  background: rgba(83, 81, 80, 0.07);
}

.header .row .header-left .header-nav .nav-content .nav-item:hover .submenu {
  opacity: 1;
  visibility: visible;
  z-index: 90;
}

.header .row .header-right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header .row .header-right .search-box {
  width: 45%;
  position: relative;
}

.header .row .header-right .search-box input {
  width: 250px;
  height: 40px;
  border-radius: 20px;
}

.header .row .header-right .search-box input::-webkit-input-placeholder {
  padding-left: 10px;
}

.header .row .header-right .search-box input:-ms-input-placeholder {
  padding-left: 10px;
}

.header .row .header-right .search-box input::-ms-input-placeholder {
  padding-left: 10px;
}

.header .row .header-right .search-box input::placeholder {
  padding-left: 10px;
}

.header .row .header-right .search-box i {
  position: absolute;
  top: 12px;
  left: 210px;
  cursor: pointer;
}

.header .row .header-right .login-button {
  width: 55%;
  text-align: center;
}

.header .row .header-right .login-button .nav-login {
  display: inline-block;
}

.header .row .header-right .login-button .nav-login a {
  color: #f7fff7;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  text-decoration: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  margin-right: 10px;
}

.header .row .header-right .login-button .nav-login a:hover {
  opacity: 0.75;
  color: #333533;
}

.header .row .header-right .login-button .button-report {
  background: #eb5e28;
  color: #333533;
  font-weight: 600;
  padding: 10px 20px;
  border-radius: 15px;
  -webkit-box-shadow: 0 0 0 3em #eb5e28 inset;
  box-shadow: 0 0 0 3em #eb5e28 inset;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.header .row .header-right .login-button .button-report:hover {
  -webkit-box-shadow: 0 0 0 1px #f7fff7 inset;
  box-shadow: 0 0 0 1px #f7fff7 inset;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
  color: #f7fff7;
  background: transparent;
  border: 1px solid #f7fff7;
}

html {
  padding: 0;
  margin: 0;
}


/* --------------css of index.---------------------- */



.button {
  background-image: linear-gradient(to right, #c471ed, #f64f59);
  height: 31px;
  margin-top: 8px;
  max-width: 200px;
}

.title-2-petspa {
  display: flex;
  justify-content: flex-end;
}

.title-3-petspa {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.petspa .row {
  display: flex;
  margin-top: 5%;
}

.petspa .row .row-top-petspa {
  display: flex;
  flex-direction: row;
}

#border {
  border: 2px solid #532e2e;
  width: 400px;
  border-radius: 50px 50px;
  text-align: center;
  margin-left: 30%;

}

.petspa .row .row-bottom-petspa {
  display: flex;
  flex-direction: row;
}

.row .row-top-left-petspa {
  width: 50%;

}

.row .row-top-right {
  width: 50%;
}


.row .row-bottom-left-petspa {
  width: 50%;
}

.row-bottom-right-petspa {
  width: 50%;
}


/* Form Order */


.order-form {
  margin-top: 15%;
  margin-left: 15%;
}

.form {
  background-color: #15172b;
  border-radius: 20px;
  box-sizing: border-box;
  height: 762px;
  padding: 20px;
  width: 429px;
  margin-left: -17%;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #15172b;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.option {
  color: red;
  margin-top: 5%;
}

.input:focus~.cut,
.input:not(:placeholder-shown)~.cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus~.placeholder,
.input:not(:placeholder-shown)~.placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown)~.placeholder {
  color: #808097;
}

.input:focus~.placeholder {
  color: #dc2f55;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  outline: 0;
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}

#mycarousel {
  width: 450px;
  margin-left: 50%;
  margin-bottom: 30%;
  margin-top: -80%;
}

.table-1 {
  margin-top: -15%;
  margin-left: 15%;
  width: 1000px;
  height: 300px;
}

.table-2 {
  margin-bottom: 10%;
  width: 300px;
  margin-left: 20%;
  margin-top: 3%;
}

.table-3 {
  margin-bottom: 30%;
  width: 500px;
  margin-left: 50%;
  margin-top: -23%;
  height: 190px;
}



#hair-dye {
  background: #918a90;
  text-align: center;
}

/* css of petguide------------------------------ */

.petguide .row {
  display: flex;
  margin-top: 10%;
}

.petguide .row .row-top {
  display: flex;
  flex-direction: row;
}

.petguide .row .row-bottom {
  display: flex;
  flex-direction: row;
}

.row .row-top-left {
  width: 50%;

}

.row .row-top-right {
  width: 50%;
}


.row .row-bottom-left {
  width: 50%;
}

.row-bottom-right {
  width: 50%;
}

.petguide-color {
  background: #d49696;
  display: inline-block;

}

.top-right-title {
  text-align: center;
}

/* -----------css of wash--------------------- */


.list-wash-dog-catton {
  display: flex;
  margin-left: 125px;
}

.list-width {
  width: 100px;
  height: 100px;
}

.wash .row {
  display: flex;
  margin-top: 10%;
}

.wash .row .row-top-wash {
  display: flex;
  flex-direction: row;
}

.wash .row .row-bottom-wash {
  display: flex;
  flex-direction: row;
}

.padding-p {
  padding: 30px;
  font-family: "Roboto", sans-serif;
}

.row .row-top-left-wash {
  width: 33%;
}

.row .row-top-center-wash {
  width: 33%;
}

.row .row-top-right-wash {
  width: 33%;
}

.row .row-bottom-left-wash {
  width: 33%;
}

.row .row-bottom-center-wash {
  width: 33%;
}

.row-bottom-right-wash {
  width: 33%;
}

/* ---------------css of nail------------------ */

.nail{
  margin-top: 5%;
}
.img-center{
  background: #f9f9f9;
  text-align: center;

}


.text-center{
  font-style: italic;
}



.list-step {
  list-style: none;
}

.list-step-detail {
  padding: 10px;
}
.step-cut-nail{
  width: 800px;
}
.padding-step-nail{
  padding: 8px;
}
/* -------------css of relax pet---------------------- */
.padding-p-relax{
  padding-left: 30px;
}

.text-note-relax{
  font-weight: 700;
}
/* -------------------css of footer-- */

footer {
  padding: 60px 0px 60px 0px;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

footer .row-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .row-footer .footer-left {
  width: 30%;
}

footer .row-footer .footer-left .footer-img {
  width: 25%;
  margin-bottom: 20px;
  margin-left: 50px;
}

footer .row-footer .footer-left .footer-img img {
  width: 100%;
}

footer .row-footer .footer-left .footer-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

footer .row-footer .footer-left .footer-text i {
  font-size: 24px;
  border: 1px solid #eb5e28;
  padding: 10px;
  margin-right: 10px;
  border-radius: 50%;
  background: #eb5e28;
}

footer .row-footer .footer-left .footer-text p {
  width: 90%;
  margin-bottom: 0px;
}

footer .row-footer .footer-right {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

footer .row-footer .footer-right .footer-item {
  width: 33.33%;
  line-height: 35px;
  font-size: 18px;
}

footer .row-footer .footer-right .footer-item h3 {
  margin-bottom: 20px;
  font-weight: 600;
}

footer .row-footer .footer-right .footer-item i {
  margin-right: 5px;
}

footer .row-footer .footer-right .footer-item a {
  text-decoration: none;
  color: white;
}

footer .row-footer .footer-right .footer-item a:hover {
  opacity: 0.75;
}

.footer-coppyright {
  background-color: rgba(0, 0, 0, 0.8);
}

.footer-coppyright .row-coppyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-coppyright .row-coppyright .coppyright-left {
  padding-top: 20px;
  width: 50%;
  color: white;
}

.footer-coppyright .row-coppyright .coppyright-left a {
  text-decoration: none;
  color: #eb5e28;
}

.footer-coppyright .row-coppyright .coppyright-left a:hover {
  opacity: 0.75;
}

.footer-coppyright .row-coppyright .coppyright-right {
  width: 50%;
  text-align: center;
}

.footer-coppyright .row-coppyright .coppyright-right a {
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.footer-coppyright .row-coppyright .coppyright-right a i {
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.footer-coppyright .row-coppyright .coppyright-right a i:hover {
  background: #eb5e28;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border: 1px solid rgba(255, 255, 255, 0.1);
}
